*{
    margin: 0;
}

header{
    background-color: rgb(193, 216, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 28px;
}

.logo{
    width: 200px;
    height: 100px;
}

.titulo{
    color: blue;
    text-align:center;
    padding: 50px 200px;
    font-size: 50px;
    font-family: sans-serif;
}

.login{
    background-color: rgb(135, 188, 238));
    width: 150px;
}

nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(193, 216, 241);

}

nav a{
    background-color: rgb(193, 216, 241);
    padding: 15px 20px;
    text-decoration: underline;
    text-align: center;
}


.principal{
    background-color: rgb(193, 216, 241);
    padding: 100px;
    display: flex;
    justify-content: center;
}




section{
    background-color: rgb(193, 216, 241);
    width: 30px;
    padding: 20px;;
}

footer{    
    background-color: rgb(193, 216, 241);
    padding: 40px;
    text-align: center;
}

@media screen and (max-width: 700px){
    nav, .principal{
        flex-direction: column;
        background-color: rgb(193, 216, 241);
    }
}